.movies__container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.filter__err-message {
  font-size: 40px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}