.filter__container {
  flex: 0 0 220px;
  height: fit-content;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.filter__container h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.button__filter-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button__filter-group button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: gray;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.button__filter-group button .selected {
  background-color: rgb(87, 87, 87);
}

.button__filter-group button:hover {
  background-color: darkgray;
}

.button__filter-group button:disabled {
  background-color: #222;
  color: white;
  cursor: not-allowed;
}